@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
    background: linear-gradient(135deg, #1a1a2e, #16213e, #0f3460, #533483);
    background-size: 400% 400%;
    animation: gradientAnimation 8s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes typing {
    from {
      width: 0; /* Comienza sin texto visible */
    }
    to {
      width: 100%; /* Termina con todo el texto visible */
    }
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent; /* Hace que el cursor desaparezca */
    }
    50% {
      border-color: white; /* Hace que el cursor aparezca */
    }
  }